body { }

#main {
    padding-top: 30px;
}

nav {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

#divMap {
    height: 200px;
}

.grey {
    background-color: #F2F4F8 !important;
}

.strong {
    font-weight: 700;
}

.card {
    margin-bottom: 20px;
}

.card-title {
    font-weight: 700;
}

div.circle {
    background-color: #3182BD;
    border-color: #ffffff;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    width: 10px;
    height: 10px;
}

.dc-chart g.row text {
    fill: black;
}