body {
}

#divMap {
    height: 200px;
}

div.circle {
    background-color: #3182BD;
    border-color: #ffffff;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    width: 10px;
    height: 10px;
}

.dc-chart g.row text {
    fill: black;
}

.row .col h4 {
    text-transform: uppercase;
    font-weight: 700;
    text-align: right;
}